  <% include ../partials/header.ejs %>

  
<div class="modal-alert modal hide fade">
  <div class="modal-header">
    <button data-dismiss="modal" class="close">x</button>
    <h3></h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" id="ok" class="btn btn-warning">OK</button>
  </div>
</div>