<div id="get-credentials" class="modal-single-input modal hide fade">
  <div class="modal-header">
    <button data-dismiss="modal" class="close">x</button>
    <h3>Retrieve Password</h3>
  </div>
  <div class="modal-body">
    <form method="post" id="get-credentials-form" class="well span5">
      <p>Please enter the email address associated with your account</p>
      <input type="text" name="email" id="email-tf" class="span5 required"/>
      <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      <button data-dismiss="modal" id="cancel" class="btn">Cancel</button>
      <div class="alert alert-error hide"></div>
      <button data-dismiss="alert" class="close"></button>
    </form>
  </div>
  <div class="modal-footer"></div>
</div>