<script src="/js/views/home.js"></script>
<script src="/js/controllers/homeController.js"></script>
<script src="/js/form-validators/accountValidator.js"></script>
<script src="/jqueryandbootstrap/jquery.min.js"></script>
<script src="/jqueryandbootstrap/jquery.form.js"></script>
<script src="/jqueryandbootstrap/bootstrap-modal.js"></script>
<script src="/jqueryandbootstrap/bootstrap-transition.js"></script>
<script src="/js/views/signup.js"></script>
<script src="/js/controllers/signupController.js"></script>
<script src="/js/views/reset.js"></script>
<script src="/js/form-validators/resetValidator.js"></script>