<!-- preset form values if we receive a userdata object //-->
<!-- store the userId on the client side in a hidden input field //-->
  <% include ../partials/header.ejs %>

<input type="hidden" id="userId"/>
<div id="account-form-container">
  <form method="post" id="account-form" class="form-horizontal well span6">
    <h1></h1>
    <p id="sub1" class="subheading">Please tell us a little about yourself.</p>
    <hr/>
    <fieldset>
      <div id="name-cg" class="control-group">
        <label for="name-tf" class="control-label">Name</label>
        <div class="controls">
          <input id="name-tf" type="text" name="name" class="input-xlarge"/>
        </div>
      </div>
      <div id="email-cg" class="control-group">
        <label for="email-tf" class="control-label">Email</label>
        <div class="controls">
          <input id="email-tf" type="text" name="email" class="input-xlarge"/>
        </div>
      </div>
      <div id="clist-cg" class="control-group">
        <label for="country-list" class="control-label">Location
  <div class="controls">
    <select id="country-list" name="country">
      <!--   for(var i=0;i<countries.length; i++) {
              <option selected=" item.name">
             }  -->
           </option>
    </select>
  </div>
</label>

      </div>
      <hr/>
      <p id="sub2" class="subheading"></p>
      <div id="user-cg" class="control-group">
        <label for="user-tf" class="control-label">Username</label>
        <div class="controls">
          <input id="user-tf" type="text" name="user" class="input-xlarge disabled"/>
        </div>
      </div>
      <div id="pass-cg" class="control-group">
        <label for="pass-tf" class="control-label">Password</label>
        <div class="controls">
          <input id="pass-tf" type="password" name="pass" value="" class="input-xlarge"/>
        </div>
      </div>
      <div class="form-actions">
        <button type="button" id="account-form-btn1" class="btn"></button>
        <button type="submit" id="account-form-btn2" class="btn"></button>
      </div>
    </fieldset>
  </form>
</div>
  <% include ../modals/form-errors.ejs %>
  <% include ../partials/footer.ejs %>

<!-- display form errors in a custom modal window //-->