<!-- extends layout

block content -->

  <% include ../partials/header.ejs %>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul id="global-nav" class="nav pull-left"><a href="#" class="brand">Control Panel</a></ul>
      <button id="btn-logout" class="btn btn-primary"><i class="icon-lock icon-white"></i>Sign Out</button>
    </div>
  </div>
</div>

	<% include account.ejs %>
	<% include ../modals/alert.ejs %>
	<% include ../modals/confirm.ejs %>
	<% include ../partials/footer.ejs %>