<!DOCTYPE html>
<html>
  <head>
    <title>Node.js Login</title>
    <link rel="stylesheet" href="/jqueryandbootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-1890531-10']);
			_gaq.push(['_setDomainName', 'braitsch.io']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	</script>
  </head>
  <body><a href="http://localhost:8080/home"><img id="github-banner" style="position:absolute;top:0px;right:0;border:0;width:50px" src="https://g.twimg.com/Twitter_logo_blue.png" alt="Fork me on GitHub"></a>
<% include ../partials/footer.ejs %>
  </body>
</html>





