
extends layout

block content

<div style="margin:20px" class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th style="width:40px">#</th>
        <th style="width:180px">Name</th>
        <th style="width:200px">Location</th>
        <th style="width:180px">Username</th>
        <th>Account Created</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>= i+1</td>
        <td>= accts[i].name</td>
        <td>= accts[i].country</td>
        <td>= accts[i].user</td>
        <td>= accts[i].date</td>
      </tr>
    </tbody>
  </table>
</div>